<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--
      internalLogFile="InternalLog.log" 
      internalLogLevel="Debug"
      internalLogToConsole="false"
      internalLogToConsoleError="false"  -->


	<!--(1)出力先(ターゲット)の設定-->
  <targets async="true">
		<target name="logfile" xsi:type="File" fileName="${basedir}/logs/cvnet8client.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/logs/cvnet8client-arch${date:format=yyyyMMdd}.{###}.txt"
            archiveAboveSize="2048000"
            archiveNumbering="Sequence"
            maxArchiveFiles="40"  encoding="UTF-8"/>
    <target name="logconsole" xsi:type="Console" />
  </targets>

	<rules>
		<!-- 出力ルールの設定:デバッグレベル以上のログをfileターゲットに出力
    Trace	0 , Debug	1, Information	2, Warning	3, Error	4, Critical	5, None = 6
    -->
		<logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="logconsole"/>
	</rules>

</nlog>
