<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="logs/nlog_internal.log">

	<targets>
		<!-- ファイル -->
		<target name="logFile"
				xsi:type="File"
                encoding="UTF-8"
                writeBom="true"
                lineEnding="Default"
                layout="${longdate} ${level:uppercase=true:padding=-5} ${logger} - ${message} ${exception:format=tostring}"
                fileName="logs/cvnet8-${processname}.log"
                archiveFileName="logs/backup/cvnet8-${processname}_{####}.log"
    			archiveAboveSize="2048000"
                archiveNumbering="Sequence"
                maxArchiveFiles="100" />

		<!-- Console -->
		<target name="console" xsi:type="ColoredConsole" layout="${longdate} ${level:uppercase=true:padding=-5} ${message}" />

		<!-- Viewer(Log2Console, etc...) -->
		<target name="tcpOutlet" xsi:type="NLogViewer" address="tcp4://localhost:4505"/>
	</targets>
	<rules>
		<!-- 出力ルールの設定:デバッグレベル以上のログをfileターゲットに出力
       Trace	0 , Debug	1, Information	2, Warning	3, Error	4, Critical	5
        -->
		<logger name="*" minlevel="Debug" writeTo="logFile" />
		<logger name="*" minlevel="Debug" writeTo="console" />
		<!-- logger name="*" minlevel="Trace" writeTo="tcpOutlet" -->
	</rules>
</nlog>
